# Python
__pycache__/
*.pyc
.venv/
.mypy_cache/
.pytest_cache/
.ruff_cache/

# Node
node_modules/

# Environments / virtualenvs
env/
venv/

# Logs and temp
*.log
*.tmp
*.cache
.coverage

# IDE
.idea/
.vscode/

# Build / dist
dist/
build/
*.egg-info/

# Generated examples
examples/products/*events.yaml
