version: "3.8"
services:
  loki:
    image: grafana/loki:2.9.0
    ports:
      - "3100:3100"
  promtail:
    image: grafana/promtail:2.9.0
    volumes:
      - ../../pipelines/loki/promtail_config_fintech.yaml:/etc/promtail/config.yaml
    command: -config.file=/etc/promtail/config.yaml
